* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #d61d4e, #87364c);
  overflow: auto;
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: #ffdee6;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: #ff0b55;
  border: 8px solid #d61d4e;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(255, 11, 85, 0.9);
  position: relative;
  margin: 1rem 0;
}
.clock .numbers {
  font-size: 2rem;
  color: #ffdee6;
  position: relative;
  width: 100%;
  height: 100%;
}
.clock .numbers .number {
  position: absolute;
  -webkit-animation: animateText 2s ease-in-out 1s infinite;
          animation: animateText 2s ease-in-out 1s infinite;
}
.clock .numbers .number.twelve {
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.one {
  right: 22%;
  top: 13%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.two {
  right: 6%;
  top: 28%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.three {
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.four {
  right: 6%;
  top: 72%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.five {
  right: 24%;
  top: 88%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.six {
  left: 50%;
  bottom: -4%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.seven {
  left: 29%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.eight {
  left: 11%;
  bottom: 18%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.nine {
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.ten {
  left: 12%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.clock .numbers .number.eleven {
  left: 27%;
  top: 14%;
  transform: translate(-50%, -50%);
}
.clock .parts {
  width: 100%;
  height: 100%;
  position: absolute;
}
.clock .parts .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #3a5ff2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.clock .parts .line {
  position: absolute;
}
.clock .parts .line.second-line {
  width: 2px;
  height: 180px;
  background: #920a75;
  left: 50%;
  top: 26.5%;
  transform: translateY(-50%);
  z-index: 300;
}
.clock .parts .line.minute-line {
  width: 8px;
  height: 150px;
  background: #fff;
  border: none;
  outline: none;
  left: 49%;
  top: 30%;
  transform: translateY(-50%);
  z-index: 100;
}
.clock .parts .line.minute-line::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -4px;
  left: -1px;
  background-color: inherit;
  transform: rotate(45deg);
}
.clock .parts .line.hour-line {
  width: 8px;
  height: 80px;
  background: #323232;
  left: 49%;
  top: 40%;
  transform: translateY(-50%);
  z-index: 100;
}
.clock .parts .line.hour-line::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -4px;
  left: -1px;
  background-color: inherit;
  transform: rotate(45deg);
}

@-webkit-keyframes animateText {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: purple;
  }
}

@keyframes animateText {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: purple;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .clock {
    margin-top: 1rem;
    width: 300px;
    height: 300px;
  }
  .clock .numbers {
    font-size: 1.5rem;
  }
  .clock .parts .line.hour-line {
    top: 37%;
  }
  .clock .parts .line.minute-line {
    height: 120px;
    top: 29%;
  }
  .clock .parts .line.second-line {
    height: 140px;
    top: 25.5%;
  }
}/*# sourceMappingURL=main.css.map */